
main{
    height: 100vh;
    width: 100;
    background-image: url('../Assets/bg-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 0 125px;
    justify-content: center;
    align-items: center;
}
.profile img{
    width: 355px;
    height: 355px;
    border-radius: 50%;
}
.profileName{
    font-family: 'Roboto';
    color: #19345E;
    padding: 0 80px;
}
.profileName h3{
    font-size: 33px;
    font-weight: 500;
}
.profileName h1{
    font-size: 112px;
    font-weight: bold;
}
.profileName h2{
    font-size: 46px;
    font-weight: 500;
}
#submit{
    color:white;
    width: 150px;
    height: 43px;
    background: #F47522 0% 0% no-repeat padding-box;
    border-radius: 21px;
    border: 2px solid #F47522;
    margin-top: 30px;
}