@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Muli';
    src: url('../Assets/muli/Muli-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #19345E;
}
nav{
    color: #19345E;;
    display: flex;
    justify-content: space-between;
    padding: 20px 125px;
    height: 90px;
    width: 100;
}
nav ul{
    width: 50%;
    font-family: 'Muli';
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 32px;
}
li .active{
    color: #F47522;
}
ul li a{
    text-decoration: none;
}
ul li a:hover, ul li a:active{
    color: #F47522;
}
.logo{
    align-self: center;
}
.logo img{
    width: 133px;
}